@import './base.css';

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    height: 100vh; /* Use 100vh to cover the full viewport height */
    margin: 0;
    padding: 0;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 359px;
  height: 56px;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 0.50em; /*for roundyness*/
  border: 0;
  background-color: #3e6181;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.button:hover {
  background-color: #788ea3;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button:disabled {
  background-color: #92aac1;
  color: #808080;
}
